doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' conent='width=device-width, initial-scale = 1')
  meta(name='randomfornow' content='')
  meta(name='randomfornowparttwo' content='')
  title Password stuff
  link(href="/css/bootstrap.min.css" rel='stylesheet')
  link(href="/css/bootstrap-theme.min.css" rel='stylesheet')
  link(href="/css/theme.css" rel='stylesheet')
.container.theme-showcase(role='main')
  .jumbotron
    h1 Safe Password Generator
    a.btn.btn-link(type='button' href="/name") Get your new password
  .page-header
    h1 Story
  .well
    p
      | This was supposed to be a school project but it actually turned out pretty cool so let&apos;s make it official
